.joinus-container {
  margin-top: 55px;
  .header-switch {
    width: 100%;
    text-align: center;
    width: min(90vw, 400px);
    margin: 0 auto;
    
    .sign-btn {
      text-align: center;
      width: 50%;
      margin: 50px 0px 0 0px;
      font-family: "Noto Serif", serif;
      font-size: 19px;
      border: none;
      background-color: #edf1f8;
      padding: 4px 4px 5px 4px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        cursor: pointer;
      }

      &.active {
        transition: .4s;
        background-color: #002348;
        color: #fff;
      }

      &:nth-child(1) {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: rgb(50 50 93 / 21%) 2px 1px 3px 0px,
          rgb(0 0 0 / 10%) -2px 4px 6px 0px;
        &:not(.active):hover {
          background: #0061c91e;
        }
      }

      &:nth-child(2) {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: rgb(50 50 93 / 21%) 2px 1px 3px 0px,
          rgb(0 0 0 / 10%) -2px 4px 6px 0px;
        &:not(.active):hover {
          background: #0061c91e;
        }
      }
    }
  }

  .join-inputField-container{
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 500px) {
  .joinus-container .header-switch {
    padding-left: 27px;
  }
}