.userupdateSection {
  justify-content: center;
  align-self: center;
  flex-direction: column;
  text-align: center;
  .icon {
    height: 130px;
    width: 130px;
    color: #636363;
    opacity: 0.7;
    &:hover {
      transition: 0.2s;
      color: #525252;
    }
    &:active {
      transition: 0.1s;
      transform: scale(0.95);
      opacity: 0.5;
    }
  }

  .userNameInput {
    font-size: 25px;
    font-family: "Merienda", cursive;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    width: 100%;
    min-width: 250px;
    text-align: center;
    margin-top: 10px;
    &:focus {
      outline: none;
    }
  }

  .userImages {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 3px solid #b6b6b6c4;
  }
  .userImg span {
    font-size: 20px;
    position: fixed;
    /* margin-right: -150px; */
    z-index: 1;
  }
  .userImg span:hover {
    transition: 0.2;
    transform: scale(1.1);
  }
}
