.signup-container{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;

    .submit-btn{
        color: #317ccc;
        text-transform: uppercase;
        margin-right: auto;
        float: right;
        border: none;
        background-color: #fff;
        font-size: 18px;
        // font-family: "Noto Serif", serif;
        margin: 10px 10px 0px 0px;
        font-weight: bold;
        &:hover{
            color: #0154ad;
        }
    }
}
