.createBlogContainer {
  width: 100%;
  margin-bottom: 100px;
  .createBlogContent {
    width: min(93vw, 700px);
    margin: 0 auto;
    margin-top: 125px;
    h1 {
      font-family: "Merienda", cursive;
      font-size: 25px;
      margin-bottom: 20px;
      color: rgb(44, 44, 44);
    }
    .PostImage {
      width: min(93vw, 700px);

      input {
        width: min(300px, 700px);
        font-weight: bold;
        color: rgb(54, 54, 54);
        font-family: "Merienda", cursive;
      }
      input::file-selector-button {
        color: rgb(41, 40, 40);
        padding: 0.5em;
        border: thin solid grey;
        border-radius: 3px;
        width: min(130px, 700px);
        font-size: 15px;
        // background-color: rgb(227, 228, 230);
      }
    }
    .postTitle {
      margin: 1.5rem 0px;
      input {
        width: min(93vw, 700px);
        outline: none;
        font-size: 20px;
        padding: 7px 10px 5px 10px;
        border-radius: 5px;
        border: 1px solid gray;
      }
    }
    .content {
      // .JoditEditor {
      // }
      .jodit-status-bar-link {
        display: none;
      }
      .jodit-add-new-line {
        display: none;
      }
    }

    .AiPost{
      font-size: 19px;
      text-transform: uppercase;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      color: rgb(59, 59, 59);
      padding: 3px 30px 5px 30px;
      border: 1px solid rgb(59, 59, 59);
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;

      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Standard syntax */
      &:hover {
        transform: scale(1.03);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
