@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.navbarContainer {
  box-shadow: rgb(50 50 93 / 16%) 2px 1px 3px 0px,
    rgb(0 0 0 / 11%) 0 3px 7px -3px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  transition: height 0.3s ease;

  &.collapsed {
    height: 55px;
  }

  &.expanded {
    height: 270px;
  }

  .navbarContent {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    
    .app-logo {
      font-family: "Dancing Script", cursive;
      font-size: 30px;
      margin-left: 15px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .navItem {
      font-family: "Noto Serif", serif;
      margin-right: 15px;
      display: flex;
      align-items: center;

      .nav-list {
        color: #000;
        text-decoration: none;
        font-size: 18px;
        margin: 0px 10px;
      }

      .createBlog {
        margin-right: 15px;
      }

      .profileIconContainer {
        margin-right: 10px;
        
        .profileImage {
          margin-top: 7px;
          width: 39px;
          height: 39px;
          border-radius: 50%;
          border: 2px solid rgb(204, 203, 203);
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            transform: scale(1.04);
          }
          
          &:active {
            transform: scale(0.95);
          }
        }

        .withoutImage {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          border: 2px solid rgb(204, 203, 203);
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-family: "Noto Serif", serif;
          font-weight: bold;
          color: rgb(41, 41, 41);
          background-color: rgb(235, 235, 235);
          transition: 0.2s;
          cursor: pointer;

          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            transform: scale(1.04);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }

    .navItem .active {
      text-decoration: underline;
    }

    .openBar {
      display: none;

      .barIcon {
        font-size: 26px;
        color: rgb(68, 68, 68);
        transition: 0.2s;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
          transform: scale(1.04);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  .navItemMobile {
    // display: none;
  }
}

@media (max-width: 500px) {
  .navbarContainer .navbarContent {
    .navItem {
      display: none;
    }

    .openBar {
      display: block;
    }
  }

  .navItemMobile {
    font-family: "Noto Serif", serif;
    // margin-right: 15px;
    // padding: 10px;
    .barItem{
      font-size: 20px;
    }
    .profileIconContainer {
      .profileImage {
        margin-top: 7px;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        border: 2px solid rgb(204, 203, 203);
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.04);
        }
        
        &:active {
          transform: scale(0.95);
        }
      }

      .withoutImage {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 2px solid rgb(204, 203, 203);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: "Noto Serif", serif;
        font-weight: bold;
        color: rgb(41, 41, 41);
        background-color: rgb(235, 235, 235);
        transition: 0.2s;
        cursor: pointer;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
          transform: scale(1.04);
        }

        &:active {
          transform: scale(0.95);
        }
      }
    }
    .navItemUserName{
      font-size: 18px;
      margin-left: 11px;
    }
  }
}