.comment {
  background-color: #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  .commentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .commentTitle {
      display: flex;
      align-items: center;
      text-align: left;
      .commentAvatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid rgb(219, 218, 228);
        transition: 0.2s;
        cursor: pointer;
        &:hover {
          transform: scale(1.04);
        }
        &:active {
          transform: scale(0.95);
        }
      }
      .withoutCommentAvatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 2px solid rgb(219, 218, 228);
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-family: "Noto Serif", serif;
        font-weight: bold;
        color: rgb(41, 41, 41);
        background-color: rgb(235, 235, 235);
        transition: 0.2s;
        cursor: pointer;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
        &:hover {
          transform: scale(1.04);
        }
        &:active {
          transform: scale(0.95);
        }
      }

      .nameAndTime {
        margin-left: 8px;
        .commentAuthor {
          font-family: "Noto Serif", serif;
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          line-height: 19.9995px;
          overflow-wrap: break-word;
          word-break: break-word;
        }
        .commentTime {
          color: #555555;
          font-size: 13px;
        }
      }
    }
    .commentdelete {
      border: none;
      .deleteIcon {
        font-size: 22px;
        color: #52545a;
        transition: 0.2s;
        cursor: pointer;

        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
        &:hover {
          transform: scale(1.04);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }

  .commentBody {
    // padding-bottom: 15px;
    p {
      font-size: 15px;
      white-space: pre-line;
      margin-left: 43px;
      margin-top: 5px;
      line-height: 22px;
      font-family: Arial, sans-serif;
      text-align: left;
      .showMore {
        color: rgba(68, 68, 177, 0.877);
        cursor: pointer;
        transition: 0.2s;
        padding-left: 10px;
        &:hover {
          transform: scale(1.04);
          color: rgba(43, 43, 151, 0.877);
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
